<!DOCTYPE html>
<html>
<head>
	<title>Introducing JOSHUA MARTIN </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">

		<h1>About Joshua </h1>
		<p> My name is Joshua and I am a child of god. I am passionate about coding
        and I enjoy solving problems.</p>

    <p>What mostly motivates me is the feeling of winning , It keeps me alive
        and is the fuel that keeps me going. </p>

    <p>I have completed a Software Engineering bootcamp and have equiped myself
        with the necessary skills to bring and add value to your business as
        this is the line of work I want to pursue in.
       </p>
    <br>

		<h1>Polls</h1>
		<a href="polls/">Click here.</a>

		<h1>Blog</h1>
		<a href="blog/">Click here.</a>



</html>
-->