<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h1> Polls: </h1>

<div class="container my-5">
  {% if latest_question_list %}
    <ul class="list-group">
      {% for question in latest_question_list %}
        <li class="list-group-item">
          <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-warning" role="alert">
      No polls are available.
    </div>
  {% endif %}
</div>

</body>
</html>
<!--{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <li>
            <a href = "{% url 'polls:detail' question.id %}">
                {{ question.question_text }}
            </a>
        </li>
        {% endfor %}
    </ul>

{% else %}

        <p>No polls are available.</p>

{% endif %}
-->